 <h1><%= @topic.title %></h1>
    <div class="col-md-4">
        <div class="btn-group">
        <%= link_to "Edit", edit_topic_path, class: 'btn btn-success' %>
        <%= link_to "Delete", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'This is my favorite Topic, are you sure?' } %>
        <%= link_to "Add Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-success' %>
        </div>
    </div>
<br>
<br>
<div class="row">
    <div class='col-md-8'>
         <% @topic.bookmarks.each do |bookmark| %>
         <li><%= link_to bookmark.url, topic_bookmark_path(@topic, bookmark) %> </li>
            <div class="button_placement">
                <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
            </div>
         <% end %>
    </div>
</div>
