<div class="col-md-6, text-center">
   <h4><strong>Your Blocmarks:</strong></h4>
    <% @user_bookmarks.each do |bookmark| %>
        <p>
          <u><%="#{bookmark.topic.title}" %></u>
          <br>
          <li><%= bookmark.url %> <%= link_to "Remove", [bookmark.topic, bookmark], method: :delete, class: 'btn btn-xs btn-danger ' %></li>
        </p>
    <% end %>
________________________________________________________________________________________________________________________________
   <br>
   <br>
   <h4><strong>Blocmarks you like:</strong></h4>
     <div class="col-md-6, text-center">
       <% @liked_bookmarks.each do |like| %>
         <p>
           <li><%="#{like.bookmark.url}" %> <%= link_to "Unlike", topic_bookmark_path(bookmark_url, like), method: :get, class: 'btn btn-xs btn-danger' %></li> 
           <br>
           <% end %>
           <br>
         </p>
      </div>
</div>
 
  
